version: '3.5'

services:
  postgres:
    container_name: postgres_container
    image: postgres
    env_file:
      - postgres.env
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres:
